body{
    background-image: url("./../images/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Press Start 2P', cursive;

}
.wrapper{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    justify-content: space-around;
}
.image{
    display:flex;
    flex-direction: column;
    margin:0 auto;
    margin-bottom:20px;
    text-align:center;
}
.imageFade{
    animation: fade 2s alternate;
}

@keyframes fade {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
       }

.pokemon{
    height:250px;
    width:250px;
}
.inputAndStats{
    display:flex;
    flex-direction:row;
    margin-top:20px;
    justify-content: space-evenly;
    width:50%;
    margin:0 auto;
    margin-top:40px;
}

.score{
    margin:0 auto;
    font-size:20px;
    color:black;
    margin-top:-30px;
}
.pName{
    display:none;
    font-size:12px;
}
.top{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin-bottom: 10px;
}
#logo{
    width:400px;
    height:300px;
    margin: 0 auto;
    margin-top:-100px;
    margin-bottom:-100px;
    
}
.form{
    margin: 0 auto;
    margin-bottom:20px;
    font-size:12px;
}
.rightName{
    height:50px;
}
@media (max-width: 510px) {
    .inputAndStats{
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        text-align:center;
    }
    h3{
        font-size:15px;
    }
    .score{
        margin: 5px 0;
    }
    .image {
        margin-bottom: 5px;
    }
}